:root {
  --black: #242b33;
  --gray: #3c5165;
  --l-gray: #95a4b5;
  --l-blue: #32c9dc;
  --icon: #030bfc;
  --blue: #0d6efd;
  --blue-hover: #0b5ed7;
  --yellow: yellow;
  --orange: orange;
  --white: #fff;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--blue) var(--gray);
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: var(--gray)
}
*::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  border-radius: 3px;
  border: 1px solid var(--blue);
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
  background-color: var(--gray);
  font-family: sans-serif;
}
h2 {
  color: var(--yellow);
  font-size: 17px;
  text-align: center;
  margin-bottom: 25px;
}
.navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  z-index: 100;
}
.navigation__search {
  padding: 15px;
  position: absolute;
  top: 60px;
  display: flex;
  gap: 10px;
  background-color: var(--black);
  width: 70%;
  border-radius: 5px;
  z-index: 99;
  transition:  all .3s;
}
.navigation__search.show {
  top: -70px;
}

.navigation__search input {
  width: 85%;
  font-size: 20px;
}
.navigation__close {
  background-color: var(--blue-hover);
}
.navigation__searching img,
.navigation__close img{
  width: 17px;
}
.wrapper__nav {
  display: flex;
  gap: 10px;
}
.container {
  margin: 0 auto;
  /* margin: 0 calc(50% - 21.5rem); */
  display: flex;
  padding: 15px;
  max-width: 600px;
}
.menu img{
  width: 20px;
  height: 20px;
}
.btn {
  padding: 0.375rem 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--blue);
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.15s, top 0.15s;
}
.btn:hover {
  background: var(--blue-hover);
}
.ver {
  color: var(--orange);
  font-size: 10px;
}

@media screen and (min-width: 576px) {
  .container {
    width: 90%;
  }
  .card {
    width: auto;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }
  .card {
    width: auto;
  }
}
.round {
  display: flex;
  align-items: center;
  gap: 10px;
}
.s-info {
  width: 15px;
  cursor: pointer;
}
.card__status {
  width: 25px;
}
